@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

@mixin flex-config(
  $justify-content: false,
  $flex: false,
  $flex-direction: false,
  $align-items: false,
  $gap: false,
  $flex-wrap: false
) {
  display: flex;

  @if $justify-content != false {
    justify-content: $justify-content;
  }

  @if $flex != false {
    flex: $flex;
  }

  @if $flex-direction != false {
    flex-direction: $flex-direction;
  }

  @if $align-items != false {
    align-items: $align-items;
  }

  @if $flex-wrap != false {
    flex-wrap: $flex-wrap;
  }

  @if $gap != false {
    gap: $gap;
  }
}

@mixin wrapper(
  $paddingLeftAndRight: 61rem,
  $paddingTop: false,
  $paddingBottom: false
) {
  padding: 0 calc(50% - #{$paddingLeftAndRight});

  @if $paddingBottom != false {
    padding-bottom: $paddingBottom;
  }

  @if $paddingTop != false {
    padding-top: $paddingTop;
  }
}
