@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Open+Sans:wght@400;600;700&display=swap');
@import 'constans';
@import 'mixins';

* {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;

  body {
    overflow-x: hidden;
    background: $mainGradientBackgroundColor;

    @include wrapper;

    margin: 4.9rem auto;

    .wrapper {
      @include wrapper;
    }

    .header {
      width: 100%;
      position: relative;
      z-index: 100;
      border-radius: 1.68rem;
      box-shadow: $box-shadow;
      height: 5.3rem;
      background-color: $boxBackground;
      color: $halfSecondary;
      font-weight: 600;
      font-size: $fontSizeTitleM;
      line-height: 1.8rem;

      .wrapper {
        @include wrapper(55.5rem);
        @include flex-config(space-between, false, false, center);

        height: 100%;
      }

      .inform-header_left {
        @include flex-config(space-between, false, false, center);

        .logo {
          min-width: 14rem;
          font-size: $fontSizeTitleM;
          color: $secondary;
          font-weight: 700;
          line-height: 1.8rem;
          margin-right: 1.5rem;
        }

        .flex-wrapper {
          @include flex-config(space-between, false, false, center);

          gap: 2.1rem;
        }
      }

      .inform-header_right {
        @include flex-config(false, false, false, center);

        .customize {
          padding-right: 5.1rem;
        }

        .flex-wrapper {
          @include flex-config(space-between, false, false, center);

          gap: 1.3rem;

          span {
            font-weight: 700;
          }

          & > svg:hover {
            cursor: pointer;
            stroke: red;
          }
        }

        .logout {
          padding-left: 3.46rem;

          @include flex-config(false, false, false, center);
        }
      }
    }
  }
}
